.search__input{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #f2f3f4;
}

@media(max-width:450px) {
  .search__input {
    font-size: 15px;
  }
}
