.pagination__item {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  align-self: center;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.pagination__item_active{
  background-color: #A8FF35;
}
