.notfound__title {
  font-size: 50px;
  line-height: 1;
  font-weight: 900;
  margin: 0 0 20px 0;
}

@media(max-width:450px) {
  .notfound__title {
    font-size: 40px;
    margin: 0 0 14px 0;
  }
}

