.notfound__button {
  align-self: center;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 6px 20px 6px 20px;
  background: #A8FF35;
  background-size: 200% auto;
  cursor: pointer;
  box-shadow: 0 0 10px #eee;
  transition: all 0.4s ease;
}

.notfound__button:hover {
  transform: scale(1.2);
}

@media(max-width:450px) {
  .notfound__button {
    font-size: 15px;
    padding: 5px 9px 5px 9px;
  }
}

